.row {
    height: 36px;
}

.square {
    border: 1px solid lightgray;
    display: inline-block;
    margin: 2px;
    height: 30px;
    width: 30px;
}

.dot-square {
    background-color: red;
    display: inline-block;
    margin: 2px;
    height: 32px;
    width: 32px;
}

.filled-square {
    background-color: black;
    display: inline-block;
    margin: 2px;
    height: 32px;
    width: 32px;
}